<div
  class="js-ember-camera"
  {{did-insert this.onInsert @constraints}}
>
  {{yield
    (hash
      viewFinder=(component "camera/view-finder" isStreaming=isStreaming stream=this.stream)
    )
  }}
</div>
