<h1>Foo</h1>

<Camera @constraints={{model.constraints}} as |c|>
  <c.viewFinder />
  <c.zoomSlider />
  <c.sensorToggle>Toggle Camera</c.sensorToggle>
  <c.shutter @onCaptureImage={{route-action "captureImage"}}>
    <span>Take Photo</span>
  </c.shutter>
</Camera>
{{outlet}}